.header-home{
    height: 100vh;
    background-image: url("../images/inspirations/inspiration-2.png");
}

.nouveautes{
    width: 100%;
    height: 80vh;
    background-color: $light-grey;
    padding: 8vh 10vw;
    display: grid;
    grid-template-areas: "grid1 grid2 grid5 grid5"
                         "grid3 grid4 grid5 grid5";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;


}

.title{
    grid-area: grid1;
    display: flex;
    align-items: center;
    justify-content: center;

    h2{
        text-transform: uppercase;
    }
}


.n1{
    background-image: url("../images/decorations/mirroir/mirroir-sd.png");
    grid-area: grid2;
}
.n2{
    background-image: url("../images/decorations/plantes/plante-sd.jpg");
    grid-area: grid3;
}
.n3{
    background-image: url("../images/chambre/commode/commode-sd.png");
    grid-area: grid4;
}
.n4{
    background-image: url("../images/salon/canape/canape-sd.png");
    grid-area: grid5;
}

.inspiration{
    .title-rubrique{
        margin: 85px 0 20px 0;
    }
    
    .voir-plus{
        float: right;
        margin: 0 45px 15px 0;
        text-decoration: underline;
    }

    .inspiration-block{
        width: 100%;
        position: relative;

        img{
            width: 100%;
        }

        .over{
            .point1{
                top: 67%;
                left: 17.5%;
            }
             
            .point2{
                top: 62%;
                left: 40%;
            }
             
            .point3{
                top: 72%;
                left: 49%;
            }
             
            .point4{
                top: 36%;
                left: 64.5%;
            }
             
            .point5{
                top: 62%;
                left: 85%;
            }

            .info1{
                top: 63%;
                left: 21%;
            }
             
            .info2{
                top: 45%;
                left: 32%;
            }
             
            .info3{
                top: 77%;
                left: 41%;
            }
             
            .info4{
                top: 32%;
                left: 69%;
            }
             
            .info5{
                top: 67%;
                left: 77%;
            }
        }
    }
}

.tendances{
    height: 105vh;
    
    .title-rubrique{
        margin-top: 85px;
        margin-bottom: 10px;
    }

    .grid-tendance{
        
    }
}