@font-face {
    font-family: 'Dosis';
    src: url("../fonts/Dosis/Dosis-VariableFont_wght.ttf");
}
html {
    scroll-behavior: smooth;
}

body{
    font-family: "Dosis";
    font-size: 16px;
    background-color: var(--color-1);
    color: var(--text);
}


body[data-theme="light"]{
  --color-1:#F8F9FA;
  --color-2: #FFF; 
  --text: #393939;
  --color-4: rgb(10, 11, 24);
  --color-5: #EEE;
}
body[data-theme="dark"]{
  --color-1:#0E131A;
  --color-2: #191F28; 
  --text: #FAFAFA;
  --color-4: rgb(17, 17, 158);
  --color-5: #191b26;
}


  .theme-switcher{
    position: absolute;
    right: 30px;
    top: 10px;
    input{
        width: 0;
        height: 0;
        display: none;
        visibility: hidden;
      }
  }
 

.background-images{
    background-size: cover;
    background-position: center;
}

a, li{
    list-style: inherit;
    text-decoration: none;
    color: var(--text);
}

a, li, .btn, input, .icon{
    cursor: pointer;
}

.icon{
    height: 28px;
    width: 28px;
}

.main{
    height: fit-content;
    padding: 50px 5vw;
    width: 80%;
    margin-left: 20%;

    .admin-connect{
        width: 100%;
        display: flex;
        justify-content: end;
        margin-bottom: 50px;

        p{
            margin-right: 20px;
        }
    }
}

// textarea{
//     resize : none;
// }



.admin{
    margin: inherit;
    display: flex;
    position: relative;

    .admin-nav{
        width: 20%;
        height: 100vh;
        background: var(--color-2);
        padding: inherit;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
            
        img{
            margin: 80px 0 70px 0;
            width: 50%;
        }

        .bg-link{
            background: $gradiantRose;
            width: 100%;
            height: 60px;
            border-bottom: 1px solid var(--color-5);

            a{
                width: 100%;
                height: 100%;
                background-color: var(--color-2);
                display: flex;
                align-items: center;
                color: var(--text);
    
                img{
                    margin: 0 30px;
                    width: 30px;
                    height: 30px;
                }
                span{
                    font-size: 20px;
                }
            }
    
            a:hover{
                font-weight: 800;
            }
        }

        .bg-link:hover{
            padding-left: 3px;
        }
    }
}

// GENERALE
.admin-form{
    padding-bottom: 10vh;
   
    h1{
        font-size: 32px;
        margin-bottom: 50px;
    }
}

.choix{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 50px;
   
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 2/1;
        background-color: $beige;
        border-radius: 20px;
        font-size: 32px;
        color: var(--text);
    }

    div{
        background: var(--color-2);
        border-radius: 14px;
        aspect-ratio: 2/1;
        padding: 20px;

        p:nth-child(1){
            font-size: 18px;
            margin-bottom: 30px;
        }
        p:nth-child(2){
            font-size: 32px;
            color: #4CCBAB;
        }
    }
}


.listes{
    background-color: var(--color-2);
    border-radius: 14px;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;

    .liste{
        border-radius: 20px;
        border: 2px solid $gradiantOr;

        h3{
            margin-bottom: 20px;
        }

        table tr{
            border: inherit;
            
        }

        table tbody tr:nth-child(odd){
            background-color: rgb(249, 249, 249);
        }

        .btns-actions{
            display: flex;
            padding: 10px;

            .btn-editer{
                margin-right: 20px;
            }
        }
    }
}



.admin-section{
    h1{
        font-size: 48px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .form-bg{
        background-color: var(--color-2);
        border-radius: 14px;
        box-sizing: border-box;
        padding: 50px;
        margin-bottom: 100px;

        form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 80%;
            column-gap: 50px;
            row-gap: 20px;
    
            .form-group{
                width: 100%;
                .form-label{
                    color: $grey;
                }
                .form-control{
                    margin: 10px 0;
                    height: 48px;
                    width: 100%;
                    border: 2px solid var(--color-5);
                    border-radius: 5px;
                    outline: rgba(0, 0, 0, 0);
                    background-color: var(--color-2);
                    font-size: 14px;
                    padding-left: 20px;
                }

                input[type=file]{
                    padding: 10px;
                }
                input[type=file]::-webkit-file-upload-button{
                    visibility: hidden;
                }
            }

            .form-group-radio{
                margin-top: 10px;
                display: flex;
                height: 48px;

                div{
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                }
            }

            .result .btn{
                margin-bottom: 30px;
            }
        }
    }

    .table-bg{
        // background-color: var(--color-2);
        border-radius: 14px;
        box-sizing: border-box;
        padding: 50px;
        width: 100%;

        .liste{
            h3{
                font-size: 18px;
                margin-bottom: 30px;
            }

            table{
                width: 100%;

                tr{
                    height: 40px;

                    td{
                        vertical-align: middle;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}

.dashboard{
    width: 100%;
    // .listes{
    //     // display: grid;
    //     // grid-template-columns: 1fr 1fr;
    //     // gap: 20px;
    //     // width: fit-content;
    // }

    .table-bg{
        width: 100%;
        padding: inherit;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        

        .listes{
            padding: 50px;
        }

    }
}

.users{
    form{
        grid-template-areas: "nom prenom"
                                 "email telephone"
                                 "mdp role"
                                 "adresse adresse"
                                 "ajouter .";
        div:nth-child(1){
            grid-area: nom;
        }
        div:nth-child(2){
            grid-area: prenom;
        }
        div:nth-child(3){
            grid-area: email;
        }
        div:nth-child(4){
            grid-area: telephone;
        }
        div:nth-child(5){
            grid-area: mdp;
        }
        div:nth-child(6){
            grid-area: role;
        }
        div:nth-child(7){
            grid-area: adresse;
        }
        div:nth-child(8){
            grid-area: ajouter;
        }
    }
}

.btn{
    width: 150px;
    height: 48px;
    border: inherit;
    border-radius: 5px;
    outline: rgba(0, 0, 0, 0);
    color: $white;
    text-align: center;
    vertical-align: middle;
}

.btn-ajouter{
    background: $gradiantRoseDegres;
}

.categories{
    form{
        grid-template-areas: "nom images"
                             "description description"
                             "ajouter .";
        div:nth-child(1){
            grid-area: nom;
        }
        div:nth-child(2){
            grid-area: images;
        }
        div:nth-child(3){
            grid-area: description;
        }
        div:nth-child(4){
            grid-area: ajouter;
        }
    }
}

.produits{
    form{
        grid-template-areas: "nom prix"
                             "quantite souscategories"
                             "descriptions publier"
                             "details details"
                             "caracteristique caracteristique"
                             "ajouter .";
        div:nth-child(1){
            grid-area: nom;
        }
        div:nth-child(2){
            grid-area: prix;
        }
        div:nth-child(3){
            grid-area: quantite;
        }
        div:nth-child(4){
            grid-area: souscategories;
        }
        div:nth-child(5){
            grid-area: descriptions;
        }
        div:nth-child(6){
            grid-area: publier;
        }
        div:nth-child(7){
            grid-area: details;
        }
        div:nth-child(8){
            grid-area: caracteristique;
        }
        div:nth-child(9){
            grid-area: ajouter;
        }
    }
}

.btn{
    width: 150px;
    height: 48px;
    border: inherit;
    border-radius: 5px;
    outline: rgba(0, 0, 0, 0);
    color: $white;
    text-align: center;
    vertical-align: middle;
}

.btn-ajouter{
    background: $gradiantRoseDegres;
}
.btn-editer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    background: #4CCBAB;
    
}
.btn-supprimer{
    width: 100px;
    background: #3E75C8;
}
.btn-ajouter:hover{
    color: #E56590;
    background: $white;
    border: 2px solid #E56590;
}
.btn-editer:hover{
    color: #4CCBAB;
    background: $white;
    border: 2px solid #4CCBAB;
}
.btn-supprimer:hover{
    color: #3E75C8;
    background: $white;
    border: 2px solid #3E75C8;
}