@font-face {
    font-family: 'Dosis';
    src: url("../fonts/Dosis/Dosis-VariableFont_wght.ttf");
}
html {
    scroll-behavior: smooth;
  }

body{
    font-family: "Dosis";
    font-size: 16px;
    background-color: $white;
}

.background-images{
    background-size: cover;
    background-position: center;
}

a, li{
    list-style: inherit;
    text-decoration: none;
    color: $dark-black;
}

a, li, .btn, input, .icon{
    cursor: pointer;
}

.icon{
    height: 28px;
    width: 28px;
}

.main{
    height: fit-content;
    padding: 10vh 5vw;
    width: 80%;
    margin-left: 20%;
}

.admin{
    margin: inherit;
    display: flex;
    position: relative;

    .admin-nav{
        width: 20%;
        height: 100vh;
        background: $gradiantOr;
        padding: inherit;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
            
            img{
                margin: 50px 0 30px 0;
                width: 50%;
            }
    
            a{
                display: flex;
                align-items: center;
                width: 100%;
                height: 45px;
                color: $white;
               
    
                img{
                    margin: 0 30px;
                    width: 30px;
                    height: 30px;
                }
                span{
                    font-size: 20px;
                }
            }
    
            a:hover{
                border-left: 2px solid $dark-black;
                color: $dark-black;
            }
        
    }
}

// GENERALE
.admin-form{
    padding-bottom: 10vh;
   
    h1{
        font-size: 32px;
        margin-bottom: 50px;
    }
}

.choix{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
   
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 2/1;
        background-color: $beige;
        border-radius: 20px;
        font-size: 32px;
        color: $dark-black;
    }

    div{
        background-color: $beige;
        border-radius: 20px;
    }
}

.listes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .liste{
        border-radius: 20px;
        border: 2px solid $gradiantOr;
    }
}

