// @font-face {
//     font-family: 'Montserrat';
//     src: url("../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
// }

@font-face {
    font-family: 'Dosis';
    src: url("../fonts/Dosis/Dosis-VariableFont_wght.ttf");
}
html {
    scroll-behavior: smooth;
  }

body{
    font-family: "Dosis";
    font-size: 16px;
    background-color: $white;
}

.background-images{
    background-size: cover;
    background-position: center;
}

a, li{
    list-style: inherit;
    text-decoration: none;
    color: $dark-black;
}

a, li, .btn, input, .icon{
    cursor: pointer;
}

.icon{
    height: 28px;
    width: 28px;
}

.navbar{
    width: 100%;
    height: fit-content;
    background-color: $white;
    box-sizing: border-box;
    padding: 30px 6.944vw 20px 6.944vw;
    
    .nav-container{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        align-items: center;

        .nav-left{
            width: 300px;
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));  //intervalle de taille
                
            li{
                display: flex;
                align-items: center;
                list-style: none;
        
                a{
                    text-decoration: none;
                    color: $dark-black;
                    font-size: 20px;
                    font-weight: 500;
                    text-transform: uppercase;
                }

                a:hover{
                    font-weight: 700;
                }
            }
        }

        .logo-white{
            display: flex;
            justify-content: center;
            
            img{
                width: 10.208vw;
            }
        }
    
        .nav-right{
            display: flex;
            align-items: center;
            justify-content: end;
            height: 40px;

                .search{
                    display: flex;
                    align-items: center;
                    height: 100%;
    
                    input{
                        display: none;
                        border-left: none;
                        border-top: none;
                        border-right: none;
                        padding-bottom: inherit;
                        border-bottom: 2px $dark-black solid;
                        background-color: inherit;
                        color: $white;
                        outline: none;
                    }
    
                    input::placeholder{
                        color: $grey;
                    }

                    input.actived{
                        display: block;
                    }
                }

                .user{
                    padding: 0 40px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    
                    .icons{
                        display: flex;
                        align-items: center;

                        .icon:not(:last-child){
                            margin-right: 10px;
                        }
                    }
    
                    .menu-account{
                        position: absolute;
                        display: none;
                        background-color: $white;
                        
                    }
    
                    .menu-account.actived{
                        display: block;
                        border-radius: 12px;
                        width: 100%;
                        height: fit-content;
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
    
                        a{
                            font-size: 14px;
                            color: $dark-black;
                            margin-bottom: 10px;
                        }
                    }
            }
        }
    }
    
    .nav-categories{
        display: none;
    }

    .nav-categories.actived{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;

        li{
            margin-right: 20px;

            a{
                color: $dark-black;
            }
            a:hover{
                font-weight: 700;
            }
        }
    }
}



// .navbar.nav-fixed{
//     position: fixed;
//     top: 0;
//     left: 0;
//     background-color: $white;
//     transition: 1s ease-in;

//     .nav-left{
//         order: 2;
//         justify-content: center;
//         width: 20%;
//         margin: 0 20px 0 0;
//     }

//     .nav-left li a{
//         color: $dark-black;
//     }

//     .logo-nav{
//         width: 80px;
//         order: 1;
//         margin: 0 20px 0 0;
//     }

//     .nav-right{
//         order: 3;
//         justify-content: center;
//         width: 30%;
//     }

//     .nav-right .search .bar-search{
//         color: $dark-black;
//         border-color: $dark-black;
//     }
//     .nav-right .search .bar-search::placeholder{
//         color: #39393980;
//     }

//     .nav-categories li a{
//         color: $dark-black;
//     }
// }


footer{
    height: fit-content;
    background: $dark-black;
    padding: 5% 7% 2% 7%;
    box-sizing: border-box;
    color: $white;
    font-family: "Montserrat", sans-serif;

    .grid-footer{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 80%;
        margin-bottom: 50px;

        img{
            width: 60%;
        }
    
        .column{
            display: flex;
            flex-direction: column;
    
            a{
                color: $white;
                text-decoration: none;
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 15px;
            }
        }
        
        .column-4{
            display: flex;
            flex-direction: column;
            align-items: center;
    
            p{
                font-family: "Dosis", sans-serif;
                font-size: 32px;
                margin-bottom: 20px;
            }
            
            .rs{
                display: flex;

                img{
                    width: 30px;
                }
            }
        }

    }

    .copyright{
        width: 100%;
        height: 20%;
        text-align: center;

        p{
            
            font-size: 14px;
        }
    }
}

.title-rubrique{
    font-family: "Dosis", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.point{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.point::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    animation: point 1s ease infinite;
}

.infos{
    display: none;
    width: 250px;
    height: 120px;
    background-color: $brown;
    position: absolute;
    
    .img-produit{
        width: 50%;
        height: 100%;
        background-image: url("../images/salon/fauteuil/inspiration1-meridienne1.jpg");
    }

    .text{
        font-family: "Dosis", sans-serif;
        font-weight: 600;
        width: 50%;
        height: 100%;
        color: $white;
        box-sizing: border-box;
        padding: 15px 5px 0 15px;

        h2{
            a{
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;
                margin-bottom: 10px;
                color: $white;
            }
        }

        h3{
            font-size: 16px;
            line-height: 24px;
        }

        p{
            font-size: 14px;
            line-height: 22px;
        }
    }
}

.infos.active{
    display: flex;
}

@keyframes point{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(3);
        opacity: 0;
    }
}

// Produits

.grid-produits{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 75px;

    .produit{
        aspect-ratio: 2/3;
        background-color: $beige;
    
        .produit-description{
            width: 100%;
            box-sizing: border-box;
            padding: 15px;
            display: grid;
            grid-template-columns: 75% 25%;
            row-gap: 15px;

            h2{
                font-weight: 600;
                font-size: 20px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
            }

            .icon-favoris{
                display: flex;
                justify-content: end;

                img{
                    height: 20px;
                    width: 20px;
                }
            }

            h3{
                font-size: 16px;
                line-height: 24px;
            }

            .prix-produit{
                font-weight: 600;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: end;
            }
        }
    }
}

.form-group{
    margin-bottom: 20px;

    input{
        background-color: inherit;
        border: none;
        border-bottom: 1.5px solid $dark-black;
        color: $dark-black;
        outline: rgba(255, 255, 255, 0);
        width: 355px;
        padding: 4px 15px;
    }

    input::placeholder{
        color: $grey;
        
    }
}



.btn-form{
    margin-top: 30px;
    background-color: $brown;
    width: 145px;
    height: 48px;
    border: none;
    border-radius: 10px;
    color: $white;
}