

// .header-categorie{
//     position: static;
//     height: 100vh;
//     background-image: url("../images/inspirations/inspiration-2.png");
// }

.category{
    .banner{
        height: 80vh;

        .block{
            width: 30%;
            height: 100%;
            background-color: rgba(56, 56, 56, 0.8);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2, p{
                color: $white;
            }

            h2{
                text-align: center;
                font-size: 56px;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 10vw;
            }

            p{
                font-size: 20px;
                font-weight: 500;
                font-family: $montserrat;
                padding: 0 22%;
            }
        }
    }
    
    .produits-categorie{
        width: 100%;
        padding: 50px 10vw 50px 10vw;
    }
}


// padding: 0 10vw 12vh 10vw;
// .title-rubrique{
//     margin-top: 85px;
//     margin-bottom: 50px;
// }

