$true-black: #000;
$true-white: #FFF;
$dark-black: #393939;
$white: #FAFAFA;
$grey: #A6A6A6;
$brown: #D1B39F;
$beige: #F4EAE1;
$green: #E6F4F1;
$light: #F8F9FA;
$red: #A81933;
$light-grey: #EEE;
$middle-grey: #F8F9FA;
$dark: #141F18;
$middle-dark: #4A4A4A;
$gradiantOr: linear-gradient(45deg, #C29958, #F2E69B);
$gradiantRose: linear-gradient( #FFB88C, #E56590);
$gradiantRoseDegres: linear-gradient(45deg, #FFB88C, #E56590);
$gradiantVertDegres: linear-gradient(45deg, #4CCBAB, #3E75C8);
$gradiantRougeDegres: linear-gradient(45deg, #f06506, #F81301);

$montserrat: "Montserrat", sans-serif;
$dosis: "Dosis", sans-serif;
