@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis/Dosis-VariableFont_wght.ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Dosis";
  font-size: 16px;
  background-color: #F8F9FA;
}

.background-images {
  background-size: cover;
  background-position: center;
}

a, li {
  list-style: inherit;
  text-decoration: none;
  color: #393939;
}

a, li, .btn, input, .icon {
  cursor: pointer;
}

.icon {
  height: 28px;
  width: 28px;
}

.main {
  height: fit-content;
  padding: 50px 5vw;
  width: 80%;
  margin-left: 20%;
}
.main .admin-connect {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 50px;
}
.main .admin-connect p {
  margin-right: 20px;
}

.admin {
  margin: inherit;
  display: flex;
  position: relative;
}
.admin .admin-nav {
  width: 20%;
  height: 100vh;
  background: #FFF;
  padding: inherit;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin .admin-nav img {
  margin: 80px 0 70px 0;
  width: 50%;
}
.admin .admin-nav .bg-link {
  background: linear-gradient(#FFB88C, #E56590);
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgb(239, 239, 239);
}
.admin .admin-nav .bg-link a {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  display: flex;
  align-items: center;
  color: #393939;
}
.admin .admin-nav .bg-link a img {
  margin: 0 30px;
  width: 30px;
  height: 30px;
}
.admin .admin-nav .bg-link a span {
  font-size: 20px;
}
.admin .admin-nav .bg-link a:hover {
  font-weight: 800;
}
.admin .admin-nav .bg-link:hover {
  padding-left: 3px;
}

.admin-form {
  padding-bottom: 10vh;
}
.admin-form h1 {
  font-size: 32px;
  margin-bottom: 50px;
}

.choix {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 50px;
}
.choix a {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 2/1;
  background-color: #F4EAE1;
  border-radius: 20px;
  font-size: 32px;
  color: #393939;
}
.choix div {
  background: #FFF;
  border-radius: 14px;
  aspect-ratio: 2/1;
  padding: 20px;
}
.choix div p:nth-child(1) {
  font-size: 18px;
}
.choix div p:nth-child(2) {
  font-size: 32px;
  color: #4CCBAB;
}

.listes {
  background-color: #FFF;
  border-radius: 14px;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}
.listes .liste {
  border-radius: 20px;
  border: 2px solid linear-gradient(45deg, #C29958, #F2E69B);
}
.listes .liste h3 {
  margin-bottom: 20px;
}
.listes .liste table tr {
  border: inherit;
}
.listes .liste table tbody tr:nth-child(odd) {
  background-color: rgb(249, 249, 249);
}
.listes .liste .btns-actions {
  display: flex;
  padding: 10px;
}
.listes .liste .btns-actions .btn-editer {
  margin-right: 20px;
}

.dashboard .listes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: fit-content;
}

.admin-section h1 {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.admin-section .form-bg {
  background-color: #FFF;
  border-radius: 14px;
  box-sizing: border-box;
  padding: 50px;
  margin-bottom: 100px;
}
.admin-section .form-bg form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  column-gap: 50px;
  row-gap: 20px;
}
.admin-section .form-bg form .form-group {
  width: 100%;
}
.admin-section .form-bg form .form-group .form-label {
  color: #A6A6A6;
}
.admin-section .form-bg form .form-group .form-control {
  margin-top: 10px;
  height: 48px;
  width: 100%;
  border: 2px solid #EEE;
  border-radius: 5px;
  outline: rgba(0, 0, 0, 0);
  background-color: #FFF;
  font-size: 14px;
  padding-left: 20px;
}
.admin-section .form-bg form .form-group input[type=file] {
  padding: 10px;
}
.admin-section .form-bg form .form-group input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}
.admin-section .form-bg form .form-group-radio {
  margin-top: 10px;
  display: flex;
  height: 48px;
}
.admin-section .form-bg form .form-group-radio div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.admin-section .table-bg {
  background-color: #FFF;
  border-radius: 14px;
  box-sizing: border-box;
  padding: 50px;
  width: 100%;
}
.admin-section .table-bg .liste h3 {
  font-size: 18px;
  margin-bottom: 30px;
}
.admin-section .table-bg .liste table {
  width: 100%;
}
.admin-section .table-bg .liste table tr {
  height: 40px;
}
.admin-section .table-bg .liste table tr td {
  vertical-align: middle;
  padding-left: 10px;
}

.users form {
  grid-template-areas: "nom prenom" "email telephone" "mdp role" "adresse adresse" "ajouter .";
}
.users form div:nth-child(1) {
  grid-area: nom;
}
.users form div:nth-child(2) {
  grid-area: prenom;
}
.users form div:nth-child(3) {
  grid-area: email;
}
.users form div:nth-child(4) {
  grid-area: telephone;
}
.users form div:nth-child(5) {
  grid-area: mdp;
}
.users form div:nth-child(6) {
  grid-area: role;
}
.users form div:nth-child(7) {
  grid-area: adresse;
}
.users form div:nth-child(8) {
  grid-area: ajouter;
}

.btn {
  width: 150px;
  height: 48px;
  border: inherit;
  border-radius: 5px;
  outline: rgba(0, 0, 0, 0);
  color: #FAFAFA;
  text-align: center;
  vertical-align: middle;
}

.btn-ajouter {
  background: linear-gradient(45deg, #FFB88C, #E56590);
}

.categories form {
  grid-template-areas: "nom images" "description description" "ajouter .";
}
.categories form div:nth-child(1) {
  grid-area: nom;
}
.categories form div:nth-child(2) {
  grid-area: images;
}
.categories form div:nth-child(3) {
  grid-area: description;
}
.categories form div:nth-child(4) {
  grid-area: ajouter;
}

.produits form {
  grid-template-areas: "nom prix" "quantite souscategories" "descriptions publier" "details details" "caracteristique caracteristique" "ajouter .";
}
.produits form div:nth-child(1) {
  grid-area: nom;
}
.produits form div:nth-child(2) {
  grid-area: prix;
}
.produits form div:nth-child(3) {
  grid-area: quantite;
}
.produits form div:nth-child(4) {
  grid-area: souscategories;
}
.produits form div:nth-child(5) {
  grid-area: descriptions;
}
.produits form div:nth-child(6) {
  grid-area: publier;
}
.produits form div:nth-child(7) {
  grid-area: details;
}
.produits form div:nth-child(8) {
  grid-area: caracteristique;
}
.produits form div:nth-child(9) {
  grid-area: ajouter;
}

.btn {
  width: 150px;
  height: 48px;
  border: inherit;
  border-radius: 5px;
  outline: rgba(0, 0, 0, 0);
  color: #FAFAFA;
  text-align: center;
  vertical-align: middle;
}

.btn-ajouter {
  background: linear-gradient(45deg, #FFB88C, #E56590);
}

.btn-editer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  background: #4CCBAB;
}

.btn-supprimer {
  width: 100px;
  background: #3E75C8;
}

.btn-ajouter:hover {
  color: #E56590;
  background: #FAFAFA;
  border: 2px solid #E56590;
}

.btn-editer:hover {
  color: #4CCBAB;
  background: #FAFAFA;
  border: 2px solid #4CCBAB;
}

.btn-supprimer:hover {
  color: #3E75C8;
  background: #FAFAFA;
  border: 2px solid #3E75C8;
}

/*# sourceMappingURL=admin-style.css.map */
