@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis/Dosis-VariableFont_wght.ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Dosis";
  font-size: 16px;
  background-color: #FAFAFA;
}

.background-images {
  background-size: cover;
  background-position: center;
}

a, li {
  list-style: inherit;
  text-decoration: none;
  color: #393939;
}

a, li, .btn, input, .icon {
  cursor: pointer;
}

.icon {
  height: 28px;
  width: 28px;
}

.navbar {
  width: 100%;
  height: fit-content;
  background-color: #FAFAFA;
  box-sizing: border-box;
  padding: 30px 6.944vw 20px 6.944vw;
}
.navbar .nav-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
}
.navbar .nav-container .nav-left {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.navbar .nav-container .nav-left li {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar .nav-container .nav-left li a {
  text-decoration: none;
  color: #393939;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.navbar .nav-container .nav-left li a:hover {
  font-weight: 700;
}
.navbar .nav-container .logo-white {
  display: flex;
  justify-content: center;
}
.navbar .nav-container .logo-white img {
  width: 10.208vw;
}
.navbar .nav-container .nav-right {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 40px;
}
.navbar .nav-container .nav-right .search {
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar .nav-container .nav-right .search input {
  display: none;
  border-left: none;
  border-top: none;
  border-right: none;
  padding-bottom: inherit;
  border-bottom: 2px #393939 solid;
  background-color: inherit;
  color: #FAFAFA;
  outline: none;
}
.navbar .nav-container .nav-right .search input::placeholder {
  color: #A6A6A6;
}
.navbar .nav-container .nav-right .search input.actived {
  display: block;
}
.navbar .nav-container .nav-right .user {
  padding: 0 40px;
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar .nav-container .nav-right .user .icons {
  display: flex;
  align-items: center;
}
.navbar .nav-container .nav-right .user .icons .icon:not(:last-child) {
  margin-right: 10px;
}
.navbar .nav-container .nav-right .user .menu-account {
  position: absolute;
  display: none;
  background-color: #FAFAFA;
}
.navbar .nav-container .nav-right .user .menu-account.actived {
  display: block;
  border-radius: 12px;
  width: 100%;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.navbar .nav-container .nav-right .user .menu-account.actived a {
  font-size: 14px;
  color: #393939;
  margin-bottom: 10px;
}
.navbar .nav-categories {
  display: none;
}
.navbar .nav-categories.actived {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.navbar .nav-categories.actived li {
  margin-right: 20px;
}
.navbar .nav-categories.actived li a {
  color: #393939;
}
.navbar .nav-categories.actived li a:hover {
  font-weight: 700;
}

footer {
  height: fit-content;
  background: #393939;
  padding: 5% 7% 2% 7%;
  box-sizing: border-box;
  color: #FAFAFA;
  font-family: "Montserrat", sans-serif;
}
footer .grid-footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 80%;
  margin-bottom: 50px;
}
footer .grid-footer img {
  width: 60%;
}
footer .grid-footer .column {
  display: flex;
  flex-direction: column;
}
footer .grid-footer .column a {
  color: #FAFAFA;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}
footer .grid-footer .column-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .grid-footer .column-4 p {
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
}
footer .grid-footer .column-4 .rs {
  display: flex;
}
footer .grid-footer .column-4 .rs img {
  width: 30px;
}
footer .copyright {
  width: 100%;
  height: 20%;
  text-align: center;
}
footer .copyright p {
  font-size: 14px;
}

.title-rubrique {
  font-family: "Dosis", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.point {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.point::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  animation: point 1s ease infinite;
}

.infos {
  display: none;
  width: 250px;
  height: 120px;
  background-color: #D1B39F;
  position: absolute;
}
.infos .img-produit {
  width: 50%;
  height: 100%;
  background-image: url("../images/salon/fauteuil/inspiration1-meridienne1.jpg");
}
.infos .text {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  width: 50%;
  height: 100%;
  color: #FAFAFA;
  box-sizing: border-box;
  padding: 15px 5px 0 15px;
}
.infos .text h2 a {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #FAFAFA;
}
.infos .text h3 {
  font-size: 16px;
  line-height: 24px;
}
.infos .text p {
  font-size: 14px;
  line-height: 22px;
}

.infos.active {
  display: flex;
}

@keyframes point {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
.grid-produits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 75px;
}
.grid-produits .produit {
  aspect-ratio: 2/3;
  background-color: #F4EAE1;
}
.grid-produits .produit .produit-description {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  display: grid;
  grid-template-columns: 75% 25%;
  row-gap: 15px;
}
.grid-produits .produit .produit-description h2 {
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.grid-produits .produit .produit-description .icon-favoris {
  display: flex;
  justify-content: end;
}
.grid-produits .produit .produit-description h3 {
  font-size: 16px;
  line-height: 24px;
}
.grid-produits .produit .produit-description .prix-produit {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: end;
}

.form-group {
  margin-bottom: 20px;
}
.form-group input {
  background-color: inherit;
  border: none;
  border-bottom: 1.5px solid #393939;
  color: #393939;
  outline: rgba(255, 255, 255, 0);
  width: 355px;
  padding: 4px 15px;
}
.form-group input::placeholder {
  color: #A6A6A6;
}

.btn-form {
  margin-top: 30px;
  background-color: #D1B39F;
  width: 145px;
  height: 48px;
  border: none;
  border-radius: 10px;
  color: #FAFAFA;
}

.slider {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slider .img-slider {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
.slider .img-slider img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(0.9);
}
.slider .img-slider .decouvrir {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 275px;
  height: 48px;
  background-color: #FAFAFA;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.slider .img-slider.active {
  opacity: 1;
}
.slider .right, .slider .left {
  position: absolute;
  top: 50%;
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.slider .right img, .slider .left img {
  width: 22px;
  height: 22px;
}
.slider .right {
  right: -25px;
  justify-content: start;
}
.slider .right img {
  margin-left: 4px;
}
.slider .left {
  left: -25px;
  justify-content: end;
}
.slider .left img {
  margin-right: 4px;
}

.navbar.black {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(33, 33, 33, 0.7);
}
.navbar.black .nav-left li a {
  color: #FAFAFA;
}
.navbar.black .nav-right .search input {
  border-color: #FAFAFA;
}
.navbar.black .nav-categories li a {
  color: #FAFAFA;
}

.nouveautes {
  width: 100%;
  height: fit-content;
  background-color: #E6F4F1;
  padding: 8vh 10vw;
  display: grid;
  grid-template-areas: "grid1 grid2 grid5 grid5" "grid3 grid4 grid5 grid5";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}
.nouveautes .title {
  grid-area: grid1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nouveautes .title h2 {
  text-transform: uppercase;
}
.nouveautes .n1 {
  background-image: url("../images/decorations/mirroirs/mirroir-sd.png");
  grid-area: grid2;
}
.nouveautes .n2 {
  background-image: url("../images/decorations/plantes/plante-sd.jpg");
  grid-area: grid3;
}
.nouveautes .n3 {
  background-image: url("../images/chambre/commode/commode-sd.png");
  grid-area: grid4;
}
.nouveautes .n4 {
  background-image: url("../images/salon/canapes/canape-sd.png");
  grid-area: grid5;
}
.nouveautes .img-produit {
  position: relative;
  aspect-ratio: 1/1;
}
.nouveautes .img-produit .produit-infos {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 77px;
  background-color: rgba(255, 255, 255, 0.62);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
.nouveautes .img-produit .produit-infos h2 {
  display: block;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  padding-bottom: 10px;
}
.nouveautes .img-produit .produit-infos h2::before {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  color: #D1B39F;
}
.nouveautes .img-produit .produit-infos .price {
  font-weight: 600;
  font-size: 16px;
  color: #A81933;
}

.inspiration .title-rubrique {
  margin: 85px 0 20px 0;
}
.inspiration .voir-plus {
  float: right;
  margin: 0 45px 15px 0;
  text-decoration: underline;
}
.inspiration .inspiration-block {
  width: 100%;
  position: relative;
}
.inspiration .inspiration-block img {
  width: 100%;
}
.inspiration .inspiration-block .over .point1 {
  top: 67%;
  left: 17.5%;
}
.inspiration .inspiration-block .over .point2 {
  top: 62%;
  left: 40%;
}
.inspiration .inspiration-block .over .point3 {
  top: 72%;
  left: 49%;
}
.inspiration .inspiration-block .over .point4 {
  top: 36%;
  left: 64.5%;
}
.inspiration .inspiration-block .over .point5 {
  top: 62%;
  left: 85%;
}
.inspiration .inspiration-block .over .info1 {
  top: 63%;
  left: 21%;
}
.inspiration .inspiration-block .over .info2 {
  top: 45%;
  left: 32%;
}
.inspiration .inspiration-block .over .info3 {
  top: 77%;
  left: 41%;
}
.inspiration .inspiration-block .over .info4 {
  top: 32%;
  left: 69%;
}
.inspiration .inspiration-block .over .info5 {
  top: 67%;
  left: 77%;
}

.tendances {
  height: fit-content;
  padding: 0 10vw 12vh 10vw;
}
.tendances .title-rubrique {
  margin-top: 85px;
  margin-bottom: 50px;
}

.gallerie {
  height: fit-content;
  padding: 0 10vw 8vh 10vw;
}
.gallerie h2, .gallerie p {
  margin-bottom: 20px;
}
.gallerie p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
}
.gallerie .grid-gallerie {
  width: 100%;
  display: grid;
  gap: 15px;
}
.gallerie .grid-gallerie .img-instagram {
  height: 13vw;
  aspect-ratio: attr(width)/attr(height);
}
.gallerie .grid-gallerie .img-instagram:nth-child(1) {
  grid-column: 1/4;
  grid-row: 1/2;
}
.gallerie .grid-gallerie .img-instagram:nth-child(2) {
  grid-column: 4/6;
  grid-row: 1/2;
}
.gallerie .grid-gallerie .img-instagram:nth-child(3) {
  grid-column: 6/10;
  grid-row: 1/2;
}
.gallerie .grid-gallerie .img-instagram:nth-child(4) {
  grid-column: 10/13;
  grid-row: 1/2;
}
.gallerie .grid-gallerie .img-instagram:nth-child(5) {
  grid-column: 1/5;
  grid-row: 2/3;
}
.gallerie .grid-gallerie .img-instagram:nth-child(6) {
  grid-column: 5/8;
  grid-row: 2/3;
}
.gallerie .grid-gallerie .img-instagram:nth-child(7) {
  grid-column: 8/11;
  grid-row: 2/3;
}
.gallerie .grid-gallerie .img-instagram:nth-child(8) {
  grid-column: 11/13;
  grid-row: 2/3;
}
.gallerie .grid-gallerie .img-instagram:nth-child(9) {
  grid-column: 1/4;
  grid-row: 3/4;
}
.gallerie .grid-gallerie .img-instagram:nth-child(10) {
  grid-column: 4/8;
  grid-row: 3/4;
}
.gallerie .grid-gallerie .img-instagram:nth-child(11) {
  grid-column: 8/10;
  grid-row: 3/4;
}
.gallerie .grid-gallerie .img-instagram:nth-child(12) {
  grid-column: 10/13;
  grid-row: 3/4;
}

.newsletter {
  background-color: #E6F4F1;
  height: fit-content;
  padding: 0 10vw 8vh 17vw;
}
.newsletter h2 {
  padding: 80px 0 30px 0;
  text-align: inherit;
}
.newsletter .newsletter-block {
  display: flex;
  justify-content: space-between;
}
.newsletter .newsletter-block p {
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  font-size: 16px;
  width: 33%;
}
.newsletter .newsletter-block .newsletter-form {
  display: flex;
}
.newsletter .newsletter-block .newsletter-form .form-surround {
  width: 312px;
  margin-right: 20px;
}
.newsletter .newsletter-block .newsletter-form .form-surround input {
  width: 312px;
  height: 50px;
  background-color: #FAFAFA;
  border: none;
  outline: rgba(255, 255, 255, 0);
  padding-left: 20px;
  border-radius: 14px;
  font-size: 20px;
}
.newsletter .newsletter-block .newsletter-form .btn-newsletter {
  border-radius: 14px;
  width: 115px;
  height: 50px;
  background-color: #393939;
  color: #FAFAFA;
}

.category .banner {
  height: 80vh;
}
.category .banner .block {
  width: 30%;
  height: 100%;
  background-color: rgba(56, 56, 56, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.category .banner .block h2, .category .banner .block p {
  color: #FAFAFA;
}
.category .banner .block h2 {
  text-align: center;
  font-size: 56px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10vw;
}
.category .banner .block p {
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding: 0 22%;
}

.identification {
  height: fit-content;
  padding: 20vh 0 10vh 0;
  background-color: #EEE;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.identification h2 {
  margin-bottom: 40px;
}
.identification .login {
  border-right: 1.5px solid #393939;
}
.identification .login, .identification .sign-up {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.identification .login label, .identification .sign-up label {
  display: none;
}

.admin {
  margin: inherit;
}
.admin .admin-nav {
  background: linear-gradient(45deg, #C29958, #F2E69B);
  height: 100vh;
  padding: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin .admin-nav img {
  margin: 50px 0 30px 0;
  width: 50%;
}
.admin .admin-nav a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  color: #FAFAFA;
}
.admin .admin-nav a img {
  margin: 0 30px;
  width: 30px;
  height: 30px;
}
.admin .admin-nav a span {
  font-size: 20px;
}
.admin .admin-nav a:hover {
  border-left: 2px solid #393939;
  color: #393939;
}

.admin-section {
  padding: 3vw;
}
.admin-section h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
