.header-home {
  height: 100vh;
  background-image: url("../images/inspirations/inspiration-2.png");
}

.nouveautes {
  width: 100%;
  height: 80vh;
  background-color: #E6F4F1;
  padding: 8vh 10vw;
  display: grid;
  grid-template-areas: "grid1 grid2 grid5 grid5" "grid3 grid4 grid5 grid5";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

.title {
  grid-area: grid1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title h2 {
  text-transform: uppercase;
}

.n1 {
  background-image: url("../images/decorations/mirroir/mirroir-sd.png");
  grid-area: grid2;
}

.n2 {
  background-image: url("../images/decorations/plantes/plante-sd.jpg");
  grid-area: grid3;
}

.n3 {
  background-image: url("../images/chambre/commode/commode-sd.png");
  grid-area: grid4;
}

.n4 {
  background-image: url("../images/salon/canape/canape-sd.png");
  grid-area: grid5;
}

.inspiration .title-rubrique {
  margin: 85px 0 20px 0;
}
.inspiration .voir-plus {
  float: right;
  margin: 0 45px 15px 0;
  text-decoration: underline;
}
.inspiration .inspiration-block {
  width: 100%;
  position: relative;
}
.inspiration .inspiration-block img {
  width: 100%;
}
.inspiration .inspiration-block .over .point1 {
  top: 67%;
  left: 17.5%;
}
.inspiration .inspiration-block .over .point2 {
  top: 62%;
  left: 40%;
}
.inspiration .inspiration-block .over .point3 {
  top: 72%;
  left: 49%;
}
.inspiration .inspiration-block .over .point4 {
  top: 36%;
  left: 64.5%;
}
.inspiration .inspiration-block .over .point5 {
  top: 62%;
  left: 85%;
}
.inspiration .inspiration-block .over .info1 {
  top: 63%;
  left: 21%;
}
.inspiration .inspiration-block .over .info2 {
  top: 45%;
  left: 32%;
}
.inspiration .inspiration-block .over .info3 {
  top: 77%;
  left: 41%;
}
.inspiration .inspiration-block .over .info4 {
  top: 32%;
  left: 69%;
}
.inspiration .inspiration-block .over .info5 {
  top: 67%;
  left: 77%;
}

.tendances {
  height: 105vh;
}
.tendances .title-rubrique {
  margin-top: 85px;
  margin-bottom: 10px;
}
@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis/Dosis-VariableFont_wght.ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Dosis";
  font-size: 16px;
  background-color: #FAFAFA;
}

.background-images {
  background-size: cover;
  background-position: center;
}

a, li {
  list-style: inherit;
  text-decoration: none;
  color: #393939;
}

a, li, .btn, input, .icon {
  cursor: pointer;
}

.icon {
  height: 28px;
  width: 28px;
}

.navbar {
  width: 100%;
  height: fit-content;
  background-color: #FAFAFA;
  box-sizing: border-box;
  padding: 30px 6.944vw 20px 6.944vw;
}
.navbar .nav-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
}
.navbar .nav-container .nav-left {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.navbar .nav-container .nav-left li {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar .nav-container .nav-left li a {
  text-decoration: none;
  color: #FAFAFA;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.navbar .nav-container .nav-left li a:hover {
  font-weight: 700;
}
.navbar .nav-container .logo-white {
  display: flex;
  justify-content: center;
}
.navbar .nav-container .logo-white img {
  width: 10.208vw;
}
.navbar .nav-container .nav-right {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 40px;
}
.navbar .nav-container .nav-right .search {
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar .nav-container .nav-right .search input {
  display: none;
  border-left: none;
  border-top: none;
  border-right: none;
  padding-bottom: inherit;
  border-bottom: 2px #FAFAFA solid;
  background-color: inherit;
  color: #FAFAFA;
  outline: none;
}
.navbar .nav-container .nav-right .search input::placeholder {
  color: #A6A6A6;
}
.navbar .nav-container .nav-right .search input.actived {
  display: block;
}
.navbar .nav-container .nav-right .user {
  padding: 0 40px;
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar .nav-container .nav-right .user .icons {
  display: flex;
  align-items: center;
}
.navbar .nav-container .nav-right .user .icons .icon:not(:last-child) {
  margin-right: 10px;
}
.navbar .nav-container .nav-right .user .menu-account {
  position: absolute;
  display: none;
  background-color: #FAFAFA;
}
.navbar .nav-container .nav-right .user .menu-account.actived {
  display: block;
  border-radius: 12px;
  width: 100%;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.navbar .nav-container .nav-right .user .menu-account.actived a {
  font-size: 14px;
  color: #393939;
  margin-bottom: 10px;
}
.navbar .nav-categories {
  display: none;
}
.navbar .nav-categories.actived {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.navbar .nav-categories.actived li {
  margin-right: 20px;
}
.navbar .nav-categories.actived li a {
  color: #393939;
}
.navbar .nav-categories.actived li a:hover {
  font-weight: 700;
}

.navbar.black {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 33, 33, 0.7);
}
.navbar.black .nav-categories li a {
  color: #FAFAFA;
}

footer {
  height: fit-content;
  background: #393939;
  padding: 5% 7% 2% 7%;
  box-sizing: border-box;
  color: #FAFAFA;
  font-family: "Montserrat", sans-serif;
}
footer .grid-footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 80%;
  margin-bottom: 50px;
}
footer .grid-footer img {
  width: 60%;
}
footer .grid-footer .column {
  display: flex;
  flex-direction: column;
}
footer .grid-footer .column a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}
footer .grid-footer .column-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .grid-footer .column-4 p {
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
}
footer .grid-footer .column-4 .rs {
  display: flex;
}
footer .grid-footer .column-4 .rs img {
  width: 30px;
}
footer .copyright {
  width: 100%;
  height: 20%;
  text-align: center;
}
footer .copyright p {
  font-size: 14px;
}

.title-rubrique {
  font-family: "Dosis", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.point {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.point::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  animation: point 1s ease infinite;
}

.infos {
  display: none;
  width: 250px;
  height: 120px;
  background-color: #D1B39F;
  position: absolute;
}
.infos .img-produit {
  width: 50%;
  height: 100%;
  background-image: url("../images/salon/fauteuil/inspiration1-meridienne1.jpg");
}
.infos .text {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  width: 50%;
  height: 100%;
  color: #FAFAFA;
  box-sizing: border-box;
  padding: 15px 5px 0 15px;
}
.infos .text h2 a {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #FAFAFA;
}
.infos .text h3 {
  font-size: 16px;
  line-height: 24px;
}
.infos .text p {
  font-size: 14px;
  line-height: 22px;
}

.infos.active {
  display: flex;
}

@keyframes point {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
