<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="X-UA-Compatible" content="text/html">
</head>
   <body>

      <h3>Ajouter un abonnée</h3>
      <a href = "{{ url_for('logout') }}">Deconnexion</a>
      <hr/>

      <form action = "{{ request.path }}" method = "post">
         <label for = "email" >Email</label> <br>
         <input type = "email" name = "email" placeholder = "email" /><br>
         <input type = "submit" value = "Submit" />
      </form>
      <br><br><br>
      <button><a href = "{{ url_for('show_all') }}">Liste Abonnée</a></button>
   </body>
</html>